@-webkit-keyframes bubble-side {
  0% {
      -webkit-transform: translateX(-0px);
      transform: translateX(-0px);
    }
  100% {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
    }


  }
  
  @keyframes bubble-side {
  0% {
      -webkit-transform: translateX(-0px);
      transform: translateX(-0px);
    }
  100% {
      -webkit-transform: translateX(-50px);
      transform: translateX(-50px);
    }
  }

  .bubble-side {
    -webkit-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    -webkit-animation-name: bubble-side;
    animation-name: bubble-side;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }